#main-body {
    background-color: bisque;
}

#burito {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 300px;
    image-rendering: crisp-edges;
    border-radius: 10px;
}

#item {
    background-color: white;
    margin-left: 500px;
    margin-right: 500px;
    border-color: black 2px;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
}

#foodname {
    text-align: center;
    font-size: 50px;
    font-style: italic;
}

#Preptime {
    background-color: rgba(238, 130, 238, 0.4);
    border-radius: 7px;
    overflow: hidden;
    padding: 10px;
    width: 450px;
    height: auto;


}

article #Preptime h1{
    color: #9400d3;
}

article #ingredients h1{
    color:brown
}

article #Instructions h1{
    color: brown;
}


article #Nutrition h1{
    color: brown;
}


